$vega-bind-spacing: 0.5rem;

.GeoMap {
  :global(.vega-bindings) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > :global(.vega-bind) {
      &:not(:first-child) {
        margin-left: $vega-bind-spacing;
      }
      // TODO: Change slider styling, padding and vertical alignment (labels are not centered; or, perhaps, labels on top of input).
    }
  }
}
