@import '~antd/dist/antd.min.css';

$antd_tree-node-selected_background: #bae7ff;
$antd_tree-node_background: #00000000;
$antd_tree-switcher_line-height: 24px;
//$antd_item-hover-bg: #f5f5f5;
//
//.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-content-wrapper_hover {
//  background-color: $antd_item-hover-bg;
//}
