@import 'core.module';

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.mb-1 {
  margin-bottom: 1rem;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;

  > .flex-grow {
    flex-grow: 1;
  }
}
